html, body {
    height: 100%;
    margin: 0;

}

.bg {
    min-height: 100%;
    min-width: 1024px;
        
    width: 100%;
    height: auto;
        
    position: fixed;
    top: 0;
    left: 0;
}

.bg-after {
    opacity: 0.4;
}
 
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }

}

.header-name {
    color: white;
    font-weight: bold;
    background-color: whitesmoke;
    background: repeating-linear-gradient(85deg, black, transparent 100px);
    border-radius: 5%;
    
}

.keyword-button {
    background: black;
    color: white;
    padding: 15px;
    border: 4px solid black !important;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 6px;
    width: 80%;
    top: 87%;
    margin: auto auto 25px 15px;
}

.criteria-button {
    background: black;
    color: white;
    padding: 15px;
    border: 4px solid black !important;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 6px;
    width: 80%;
    margin: auto auto 25px 15px;
}

.search-btn {
    background: black;
    color: white;
    padding: 15px;
    border: 4px solid white !important;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 6px;
    width: 100%;
    margin: auto auto 15px 15px;
}

#save-recipe-btn {
    position:relative;
    /* top: 112%;
    left: 39%; */
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 5px;
    border: 4px solid black !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 6px;
    margin: auto auto 15px auto;
}

#nxt-btn, #next-btn, #prev-btn, #previous-btn {
    position: relative;
    left: 0%;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 5px;
    border: 4px solid black !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 6px;
    margin: 0 15px 15px 25px;
    }


.link a {
    position: sticky;
    top: 103%;
    left: 33%;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 15px;
    border: 4px solid black !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 6px;
}

.saved-searches-cont {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 15px;
    border: 4px solid black !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 6px;
    position:sticky;
    top: 145%;
}

#nxt-btn:hover, #prev-btn:hover, #save-recipe-btn:hover, .search-btn:hover, .link a:hover, .criteria-button:hover, .keyword-button:hover, #previous-btn:hover, #next-btn:hover, .saved-searches-cont:hover {
    color: #ffffff !important;
    background: rgb(141, 140, 140);
    border-color: rgb(141, 140, 140) !important;
    transition: all 0.4s ease 0s;
    }

img, img {
    position: relative;
    width: 300px;
    border-style: solid;
    border: 4px solid #494949;
    border-radius: 6px;
}

.list {
    position: relative;
    font-weight: bold;
    padding-left: 25px;
    color: black;
    background: lightgrey;
    border-radius: 15px;
    border: 4px solid #494949;
    /* right: 30%; */
}

.recipe-video {
    position: relative;
    margin-bottom: 30px;
}

p {
    text-align: justify;
    position: relative;
    font-weight: bold;
    padding: 15px;
    color: black;
    background: lightgrey;
    border-radius: 15px;
    border: 4px solid #494949;
    margin: 0 20px 0 0;
}

.title {
    text-align: center;
    position: relative;
    font-weight: bold;
    background: lightgrey;
    border-radius: 15px;
    border: 4px solid #494949;
    width: 44%;
}

.video-title {
    margin-top: 20px;
}

/* #previous-searches 
    
} */

.saved-recipe {
    position: relative;
    font-weight: bold;
    background: black;
    color: white;
    border-radius: 15px;
    border: 4px solid black;
}

footer {
    margin-top: 30px;
}

.search-btns-position {
    position: fixed;
}


/*QUERY FOR TABLETS*/
@media screen and (max-width: 768px) {

}
/* QUERY FOR MOBILE PHONES */
@media screen and (max-width: 575px) {

    .title {
        width:90%;
    }

    #recipe-ingredients {
        width: max-content;
    }

    .search-btns-position {
        position: relative;
    }



}

