html, body, main {
    height: 100%;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.3;
}

.transbox label {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}


